<template>
  <div>
    <form @submit.prevent="register">
      <label for="first_name">
        First Name:
      </label>
      <input v-model="first_name" type="text" name="first_name" value placeholder="Enter first name">

      <label for="first_name">
        Last Name:
      </label>
      <input v-model="last_name" type="text" name="last_name" value placeholder="Enter last name">

      <label for="email">
        Email:
      </label>
      <input v-model="email" type="email" name="email" placeholder="Enter email" value>

      <label for="password">
        Password:
      </label>
      <input v-model="password" type="password" name value>
      <label for="password_confirmation">
        Password Confirmation:
      </label>
      <input v-model="password_confirmation" type="password" name value>

      <button type="submit" name="button">
        Register
      </button>
    </form>
  </div>
</template>

<script>
export default {
  data () {
    return {
      first_name: '',
      last_name: '',
      email: '',
      password: '',
      password_confirmation: ''
    }
  },
  methods: {
    register () {
      this.$store.dispatch('register', {
        first_name: this.first_name,
        last_name: this.last_name,
        email: this.email,
        password: this.password,
        password_confirmation: this.password_confirmation
      })
      .then(() =>{
        this.$router.push({name: 'home'})
      })
    }
  }
}
</script>

<style lang="css" scoped>
</style>
