<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <router-link to="/" class="nav-link" style="color:white; float:left;" >Home</router-link>
        <router-link :to="{ name: '', params: {} }" class="nav-link" style="color:white;">Academics</router-link>
        <router-link :to="{ name: '', params: {} }" class="nav-link" style="color:white;">Admission</router-link>
        <router-link :to="{ name: '', params: {} }" class="nav-link" style="color:white;">Course</router-link>
        <router-link :to="{ name: '', params: {} }" class="nav-link" style="color:white;"> Placement Cell</router-link>
        <router-link :to="{ name: '', params: {} }" class="nav-link" style="color:white;">Campus Life</router-link>
        <router-link to="/register" class="nav-link" style="color:white;" v-if="!loggedIn">Sign Up</router-link>
        <router-link to="/login" class="nav-link" style="color:white;" v-if="!loggedIn">Sign In</router-link>
        <!-- <router-link class="nav-link" style="color:white;" v-if="!loggedIn" to="/dashboard">Dashboard</router-link> -->
        <button  class="nav-link logoutButton" v-else type="button" @click="logout">Logout</button>
  </div>
</nav>
</template>

<!-- <template>
  <div id="nav">
    <router-link to="/">
      Home
    </router-link>
    <router-link to="/dashboard">
      Dashboard
    </router-link>
    <router-link v-if="!loggedIn" to="/login" class="button">
      Login
    </router-link>
  </div>
</template> -->

<script>
import { authComputed } from '../views/vuex/helpers.js'
export default {
  computed: {
    ...authComputed
  },
  methods: {
    logout(){
      this.$store.dispatch('logout')
    }
  }
}
</script>

<style lang="scss" scoped>
#nav {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 0.2em 1em;
  background: linear-gradient(to right, #16c0b0, #84cf6a);
}

.nav-welcome {
  margin-left: auto;
  margin-right: 1rem;
  color: white;
}

a {
  font-weight: bold;
  color: #2c3e50;
  margin: auto 0.8em auto 0.4em;
  text-decoration: none;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.router-link-exact-active {
  color: white;
  border-bottom: 2px solid #fff;
}

button,
.button {
  margin-left: auto;
  background: white;
  text-decoration: none;
  color: #2c3e50;

  &.router-link-active {
    color: #2c3e50;
  }
}

.logoutButton {
  cursor: pointer;
}

.nav-welcome + button {
  margin-left: 0;
}
</style>
