<template>
  <div id="app">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <app-nav/>
    <router-view/>
  </div>
</template>

<script>
require('bootstrap')
import BootstrapVue from 'bootstrap-vue'
import AppNav from './components/AppNav'

export default{
  name: 'App',
  components: {
    AppNav
  }
}

</script>
<style lang="scss">
  @import './assets/styles/global.scss';
  @import './assets/bootstrap.scss';
  @import '../node_modules/bootstrap/scss/bootstrap.scss';
  @import './assets/styles.scss';
</style>
